@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1, h2 {
    font-family: "Vollkorn SC", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #F2EFED;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    padding: 40px 200px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    display: flex;
}

ul, li {
    width: 100%;
}

h2 {
    margin: 30px 0;
    text-align: center;
}

nav {
    width: 30%;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.bandeau {
    display: flex;
    color: white;
}

.bandeau p {
    font-size: 1.3em;
    margin-top: 10px;
}

.bandeau div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #46352A;

}

.bandeau img, .bandeau div {
    width: 50%;
}

img[alt="logo"] {
    height: 60px;
}

.bandeau>img {
    height: 300px;
    object-fit: cover;
}

.presentation>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.presentation>p {
    margin-bottom:  30px;
}

.presentation-image {
    width: 20%;
    border: 2px solid #46352A;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.presentation-image img, .card img {
    width: 100%;
}

.card img {
    border-radius: 10px;
}

.presentation-image p {
    margin-top: 10px;
}

.seduction {
    text-align: center;
    color: white;
    width: 100%;
    background-color: #4A6743;
    padding: 40px 0;
}

.groupe-card {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 20%;
    border-radius: 10px;
    box-shadow: 2px 2px 15px;
    padding: 50px 40px;
}

.card p {
    margin-bottom: 10px;
}

.card h3 {
    margin-top: 10px;
}

.prix {
    color: #4A6743;
    margin: 10px 0;
    font-weight: bold;
}

button {
    background-color: #4A6743;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.contact {
    width: 100%;
}

form {
    padding: 30px;
    width: 30%;
    margin: 20px auto;
    box-shadow: 2px 2px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.nom-mail {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

label {
    margin: 10px 0;
}

.fusion-label {
    display: flex;
    flex-direction: column;
}

form button {
    width: 50%;
    margin: 20px auto  0 auto;
}

footer {
    text-align: center;
    color: white;
    background-color: #46352A;
    padding: 20px 0;
}

input, textarea {
    border-radius: 5px;
    border: 1px solid #4A6743;
}

input[type="email"], input[type="text"] {
    padding: 5px 0;
}

textarea {
    resize: none;
}

.relou {
    margin-bottom: 20px;
}

.fatigue {
    background-color: #b8a49c;
}

.fabrication {
    display: flex;
    align-items: center;
    
}

.fabrication img, .fabrication div {
    width: 50%;
}

.fabrication div {
    padding-left: 50px;
}

.cadre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.cadre .presentation-image {
    width: 20%;
}

.cadre>p {
    width: 60%;
}

.jemepresente p {
    margin: 30px 0;
}